@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden;
}

*, *::after, *::after {
  box-sizing: border-box !important;
}


.font-Vietnam-light {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-Vietnam-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-Vietnam-medium {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-Vietnam-semibold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font-Vietnam-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-Vietnam-black {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
}


#tsparticles {
  background-color: blue;
  height:100%;
  scale: 0.975;
  border-radius: 3em !important;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: Vietnam;
  font-weight: 600;
  src: url("../assets/fonts/BeVietnamPro-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  /* font-weight: 600; */
  src: url("../assets/fonts/RobotoMono-VariableFont_wght.ttf");
}

